<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Agendar cita - UseDoc</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/export.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/circles.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/monthly.css">
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">

</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div class="w3_agileits_top_nav">
        <ul id="gn-menu" class="gn-menu-main">
                 <!-- /nav_agile_w3l -->
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller scrollbar1">
                        <ul class="gn-menu agile_menu_drop">
                            <li><a href="Home"> <i class="fa fa-home"></i> Inicio</a></li>
                            <li>
                                <a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i> Información <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="buttons"><i class="fa fa-caret-right" aria-hidden="true"></i> Tratamientos</a></li>
                                    <li class="mini_list_w3"><a href="grids"> <i class="fa fa-caret-right" aria-hidden="true"></i> Diagnosticos</a></li>
                                    <li class="mini_list_w3"><a href="grids"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-user-md" aria-hidden="true"></i>Medico</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </li>
            <!-- //nav_agile_w3l -->
            <li class="second logo"><h1><a href="index"><i class="fa fa-graduation-cap" aria-hidden="true"></i>USEDOC </a></h1></li>
                <li class="second admin-pic">
                   <ul class="top_dp_agile">
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            <span class="prfil-img"><img src="images/admin.png" style="width: 45px;" alt=""> </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Configuracion</a> </li>
                                        <li> <a href="#"><i class="fa fa-user"></i> Perfil</a> </li>
                                        <li> <a href="salir"><i class="fa fa-sign-out"></i> Cerrar sesion</a> </li>
                                    </ul>
                                </li>

                    </ul>
            </li>


            <li class="second w3l_search">

            </li>

        </ul>
        <!-- //nav -->

    </div>
    <div class="clearfix"></div>
    <div class="inner_content">
        <div class="inner_content_w3_agile_info"  >
            <h2 class="w3_inner_tittle">Calendar</h2>
        <!-- /calendar -->
            <div class="row">
                <div class="col-md-6">
                    <div class="agile-calendar-grid">
                        <div class="page_w3ls_cal agile_info_shadow">
        
                            <div class="w3l-calendar-left">
                                <div class="calendar-heading">
                                </div>
                                <div class="monthly" id="mycalendar">
                                    <div class="monthly-header">
                                        <div class="monthly-header-title">Oct 2019</div>
                                        <a class="monthly-prev" href="#"></a>
                                        <a class="monthly-next" href="#"></a>
                                    </div>
                                    <div class="monthly-day-title-wrap">
                                        <div>Sun</div>
                                        <div>Mon</div>
                                        <div>Tue</div>
                                        <div>Wed</div>
                                        <div>Thu</div>
                                        <div>Fri</div>
                                        <div>Sat</div>
                                    </div>
                                    <div class="monthly-day-wrap">
                                        <div class="monthly-week">
                                            <div class="m-d monthly-day-blank">
                                                <div class="monthly-day-number">
                                                    
                                                </div></div><div class="m-d monthly-day-blank">
                                                    <div class="monthly-day-number">
        
                                                    </div>
                                                </div>
                                                <a class="m-d monthly-day monthly-day-event" href="#" data-number="1">
                                                    <div class="monthly-day-number">1</div>
                                                    <div class="monthly-indicator-wrap">
        
                                                    </div>
                                                </a>
                                                <a class="m-d monthly-day monthly-day-event" href="#" data-number="2">
                                                    <div class="monthly-day-number">2</div><div class="monthly-indicator-wrap">
        
                                                    </div>
                                                </a>
                                                <a class="m-d monthly-day monthly-day-event" href="#" data-number="3">
                                                <div class="monthly-day-number">3</div>
                                                <div class="monthly-indicator-wrap">
        
                                                </div></a>
                                                <a class="m-d monthly-day monthly-day-event" href="#" data-number="4">
                                                    <div class="monthly-day-number">4</div><div class="monthly-indicator-wrap">
                                                        
                                                    </div>
                                                </a>
                                                <a class="m-d monthly-day monthly-day-event" href="#" data-number="5">
                                                    <div class="monthly-day-number">5</div>
                                                    <div class="monthly-indicator-wrap"></div>
                                                </a>
                                            </div>
                                    </div>
                                </div>
        
                            <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <form action="">
                            <div class="form-group">

                                <input type="text" value="Nombre del Doctor" class="form-control">
                                <input type="text" value="Fecha" class="form-control">
                                <input type="text" value="Hora" class="form-control">
                                <input type="text" value="" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- banner -->
<!--copy rights start here-->
<div class="copyrights">
    <div class="container clearfix">
        <div class="copyright-text">
            <p>&copy; Copyright 2019. Todos los derechos reservados por
              <a href="team">SpicySystems</a>
            </p>
        </div>
        <ul class="footer-bottom-link">
            <li>
              <a href="index">Inicio</a>
            </li>
            <li>
              <a href="index#About">Sobre nosotros</a>
            </li>
            <li>
              <a href="contact">Contacto</a>
            </li>
        </ul>
    </div>
</div>
<!--copy rights end here-->
<!-- js -->

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

<script src="js/amcharts.js"></script>
<script src="js/serial.js"></script>
<script src="js/export.js"></script>
<script src="js/light.js"></script>
<script src="js/chart1.js"></script>
    <script src="js/Chart.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
        new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>
<!-- script-for-menu -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="js/bars.js"></script>
<script src="js/scripts.js"></script>

<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>
