<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Home - UseDoc</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/export.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/circles.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">

</head>
<body>
        <%
        if(typeof mensaje !== "undefined"){
           %>
        
           <script>alert("<%=mensaje%>");</script>
           <%
        }%>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div class="w3_agileits_top_nav">
        <ul id="gn-menu" class="gn-menu-main">
                 <!-- /nav_agile_w3l -->
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller scrollbar1">
                        <ul class="gn-menu agile_menu_drop">
                            <li><a href="Home"> <i class="fa fa-home"></i> Inicio</a></li>
                            <li>
                                <a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i> Información <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="buttons"><i class="fa fa-caret-right" aria-hidden="true"></i> Tratamientos</a></li>
                                    <li class="mini_list_w3"><a href="grids"> <i class="fa fa-caret-right" aria-hidden="true"></i> Diagnosticos</a></li>
                                    <li class="mini_list_w3"><a href="grids"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-user-md" aria-hidden="true"></i>Medico</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </li>
            <!-- //nav_agile_w3l -->
            <li class="second logo"><h1><a href="index"><i class="fa fa-graduation-cap" aria-hidden="true"></i>USEDOC </a></h1></li>
                <li class="second admin-pic">
                   <ul class="top_dp_agile">
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            <span class="prfil-img"><img src="images/admin.png" style="width: 45px;" alt=""> </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Configuracion</a> </li>
                                        <li> <a href="#"><i class="fa fa-user"></i> Perfil</a> </li>
                                        <li> <a href="salir"><i class="fa fa-sign-out"></i> Cerrar sesion</a> </li>
                                    </ul>
                                </li>

                    </ul>
            </li>


            <li class="second w3l_search">

            </li>

        </ul>
        <!-- //nav -->

    </div>
    <div class="clearfix"></div>
    <div class="inner_content">
        <div class="inner_content_w3_agile_info">
            <h2 style="margin-bottom: 30px;">Inicio </h2>
                <div class="agile-tables">
                    <div class="w3l-table-info agile_info_shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                <h3 class="w3_inner_tittle two" style="margin-bottom: 30px">Datos del paciete</h3>
                                    <div class="table-responsive-lg">
                                        <table class="table table-hover table-striped" >
                                         <tbody>
                                             <tr>
                                                 <td>Nombre:</td>
                                                 <td>Nombre</td>
                                             </tr>
                                             <tr>
                                                 <td>Sexo</td>
                                                 <td>Masculino</td>
                                             </tr>
                                             <tr>
                                                 <td>Edad</td>
                                                 <td>20</td>
                                             </tr>
                                             <tr>
                                                 <td>Tipo de sangre</td>
                                                 <td>O+</td>
                                             </tr>
                                             <tr>
                                                 <td>Alergias</td>
                                                 <td>Alergia</td>
                                             </tr>
                                         </tbody>
                                        </table>
                                        <a class="btn btn-default" style="text-decoration: none; padding: 10px;">Ver historial medico</a>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                <%if(doctores.length>0){
                                    for(var c = 0; c<doctores.length; c++){
                                        for(var a = 0; a<rangos.length; a++){
                                            if(doctores[c].id_usr == rangos[a].id_med){
                                                if(rangos[a].id_ran==1){
                                                    %>
                                                    <div class="profile_bg_agile ">
                                                        <div class="profile-pic wthree">
                                                             <h2>Medico</h2>
                                                               <img src="images/admin.png" alt="Image">
                                                               <p><%=doctores[c].name_med%></p>
                                                         </div>
                                                         <div class="profile-ser">
                                                             <div class="follow-grids-agileits-w3layouts">
                                                                 <div class="profile-ser-grids">
                                                                     <h3>Citas en este mes</h3>
                                                                     <h4>1</h4>
                                                                 </div>
                                                                 <div class="profile-ser-grids ">
                                                                     <h3>Tiempo con el</h3>
                                                                     <h4>1582</h4>
                                                                 </div>
                                                                 <div class="clearfix"> </div>
                                                             </div>
                                                             <div class="w3l_social_icons w3l_social_icons1">
                                                                 <a href="#" class="button btn-success" style="padding: 10px">
                                                                     <i class="fa fa-phone" aria-hidden="true"></i>
                                                                     Enviar mensaje
                                                                 </a>
                                                             </div>
                                                         </div>
                                                       </div>
                                                    <%
                                                    break;
                                                }
                                            }
                                        }
                                    }
                                    %>
                                   
                                <%
                                }else{
                                    %>
                                    <div class="profile_bg_agile ">
                                    <div class="profile-pic wthree">
                                            <h2>Medicos</h2>
                                            <img src="images/admin.png" alt="Image">
                                            <p>Aún no tienes un medico</p>
                                        </div>
                                        
                                        <div class="profile-ser">
                                            <div class="follow-grids-agileits-w3layouts">
                                    
                                                <div class="clearfix"> </div>
                                            </div>
                                            <div class="w3l_social_icons w3l_social_icons1">
                                                <a href="agregarMedico" class="button btn-success" style="padding: 10px">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                     Agregar medico
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <%
                                }%>
                                    <div class="table-responsive-lg">
                                        <table class="table table-hover table-striped" >

                                          <tbody>
                                            <tr>
                                              <th scope="row">Ultimos mensajes</th>
                                              <td>
                                                <a href="#" aria-expanded="true">
                                                     <i class="fa  fa-envelope" aria-hidden="true"></i>
                                                     <span class="badge badge-success">4</span>
                                                 </a>
                                              </td>
                                            </tr>

                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="prograc-blocks_agileits" style="margin-top: 60px">
                    <div class="col-md-6 bars_agileits agile_info_shadow">
                       <h3 class="w3_inner_tittle two" style="margin-bottom: 30px">Proximas citas</h3>
                            <div class="table-responsive-lg">
                                <table class="table table-hover table-striped" >
                                  <thead class="thead-dark" style="background-color: #FF5E61">
                                    <tr>
                                      <th scope="col">Fecha</th>
                                      <th scope="col">Hora</th>
                                      <th scope="col">Descripcion</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">dd/mm/yyyy</th>
                                      <td>16:00</td>
                                      <td><a href="cita"><i class="fa fa-plus"> Ver mas </i></a></td>
                                    </tr>

                                  </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="col-md-6 fallowers_agile agile_info_shadow">
                        <h3 class="w3_inner_tittle two">Estado actual</h3>
                        <div class="work-progres">

						      <div class="col-md-6 socail_grid_agile tra">
                                     <ul class="icon_w3_info">
									   <li><i class="fa fa-ambulance" aria-hidden="true"></i></li>
									   <li>En tratamiento</li>
									 </ul>

									 <div class="clearfix"></div>
									  <div class="bottom_info_social">
									  <div class="col-md-8 agile_w3l_social_media_text">
									    <h4>Diagnostico</h4>
										<p><a href="" class="btn btn-danger">Ver tratamiento</a></p>
									 </div>

									 <div class="clearfix"></div>
									 </div>
                              </div>
                              <div class="col-md-6 socail_grid_agile sintra">
                                     <ul class="icon_w3_info">
									   <li> <i class="fa fa-ambulance" aria-hidden="true"></i></li>
									   <li>Fuera de tratamiento</li>
									 </ul>

									 <div class="clearfix"></div>
									  <div class="bottom_info_social">
									  <div class="col-md-8 agile_w3l_social_media_text">
									    <h4>Diagnostico</h4>
										<p><a href="" class="btn btn-success">Ver ultimos tratamientos</a></p>
									 </div>

									 <div class="clearfix"></div>
									 </div>
                              </div>
                        </div>
                    </div>
                     <div class="clearfix"></div>

                </div>
                <div class="prograc-blocks_agileits" style="margin-top: 60px">
                    <div class="col-md-6 bars_agileits agile_info_shadow">
                       <h3 class="w3_inner_tittle two" style="margin-bottom: 30px">Historico de citas</h3>
                        <canvas id="hici"></canvas>
                        <form action="#" method="post" class="form-inline">
                           <div class="form-group" style="width: 100%">
                            <select name="" id="" class="form-control" style="width: 50%; height: auto">
                                <option value="">Semanas</option>
                                <option value="">Meses</option>
                                <option value="">Años</option>
                            </select>
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-6 fallowers_agile agile_info_shadow">
                        <h3 class="w3_inner_tittle two">Citas periodicas</h3>
                        <div class="work-progres">

						      <div class="col-md-3"></div>
						      <div class="col-md-6 socail_grid_agile tra">
                                     <ul class="icon_w3_info">
									   <li><i class="fa fa-ambulance" aria-hidden="true"></i></li>
									   <li>Ultimo Diagnostico</li>
									 </ul>

									 <div class="clearfix"></div>
									  <div class="bottom_info_social">
									  <div class="col-md-8 agile_w3l_social_media_text">
									    <h4>Cita recomendada</h4>
										<p><a href="" class="btn btn-danger">Agendar cita</a></p>
									 </div>

									 <div class="clearfix"></div>
									 </div>
                              </div>
                             <div class="col-md-3"></div>

                        </div>
                    </div>
                     <div class="clearfix"></div>

                </div>
        </div>
    </div>
</div>
<!-- banner -->
<!--copy rights start here-->
<div class="copyrights">
    <div class="container clearfix">
        <div class="copyright-text">
            <p>&copy; Copyright 2019. Todos los derechos reservados por
              <a href="team">SpicySystems</a>
            </p>
        </div>
        <ul class="footer-bottom-link">
            <li>
              <a href="index">Inicio</a>
            </li>
            <li>
              <a href="index#About">Sobre nosotros</a>
            </li>
            <li>
              <a href="contact">Contacto</a>
            </li>
        </ul>
    </div>
</div>
<!--copy rights end here-->
<!-- js -->

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

<script src="js/amcharts.js"></script>
<script src="js/serial.js"></script>
<script src="js/export.js"></script>
<script src="js/light.js"></script>
<script src="js/chart1.js"></script>
    <script src="js/Chart.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
        new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>
<!-- script-for-menu -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>

    var ctx = document.getElementById('hici').getContext('2d');
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['mm/yy', 'mm2/yy', 'mm3/yy', 'mm4/yy', 'mm5/yy', 'mm6yy', 'mm7/yy'],
            datasets: [{
                label: 'Numero de citas',
                backgroundColor: '#87CCA7',
                borderColor: '#87CCA7',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },
        options: {}
    });

</script>
<script src="js/bars.js"></script>
<script src="js/scripts.js"></script>

<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>
