<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>UseDoc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="media/iabop.png">
    <link rel="stylesheet" href="css1/index.css">
    <link href="css1/style.css" rel="stylesheet">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <!-- FancyBox -->
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
</head>

<body>
    <div class="fixes">
        <nav class="navbar navbar-default" style="z-index: 3">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                        </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="">Inicio</a>
                        </li>
                        <li>
                            <a href="#About">Sobre UseDoc</a>
                        </li>
                        <li>
                            <a href="service">Precios</a>
                        </li>
                        <li>
                            <a href="gallery">Medicos</a>
                        </li>
                        <li>
                            <a href="team">Pacientes</a>
                        </li>
                        <li>
                            <a href="contacto.ejs">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <header class="contenedor">
        <div class="video">
            <video controls autoplay muted loop>
                    <source src="media/video.mp4" type="video/mp4">
                </video>
        </div>
        <div class="transparente"></div>
        <div class="encima">
            <div class="hero-slider">
                <div class="slider-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                <div class="content text-center style">
                                    <h2 class="text-white text-bold mb-2">UseDoc</h2>
                                    <p class="tag-text mb-5">La forma de conectar con tus pacientes
                                    </p>
                                    <a href="login" class="btn btn-main btn-white">Entra ahora</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="feature-section section bg-gray">
            <div class="container">
                <a name="About"></a>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="image-content">
                            <div class="section-title text-center">
                                <h3>Sobre Nosotros
                                    <span>UseDoc</span>
                                </h3>
                                <p>La forma de comunicarse con sus pacientes y ayudarse en su diagnostico</p>
                                
                                <p> <img src="images/nuevo-logo.png"  width="100" height="100" ></p>
                                <p>Spicy Systems</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="item" style="text-align:justify">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="images/resource/1.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Gestion</h6>
                                        <p>Se utilizaran los datos personales e historial médico del paciente para su gestión, almacenamiento y uso estadístico para ejecutar las funciones de UseDoc solo gestionados y visualizados por el médico encargado y en contacto con el paciente.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="text-align:justify">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="images/resource/2.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Diagnosticos</h6>
                                        <p>Los diagnósticos serán generados por el médico encargado en cada cita y guardados en el sitio web, visualizados en todo momento por el paciente y médico encargado cuando asi sea requerido.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="text-align:justify">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="images/resource/3.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Tratamientos</h6>
                                        <p>Los tartamientos serán registrados por el medico en UseDoc y podran ser visualizados por el paciente en su cuenta personal cuando  se requiera.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item" style="text-align:justify">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="images/resource/4.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Pacientes</h6>
                                        <p>Cada paciente tendrá una cuenta propia donde registrará sus datos personales y anteriores historiales médicos, que solo podran ser visualizados por el médico a cargo y el propio paciente. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-main">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="about-widget">
                            <div class="footer-logo">
                                <figure>
                                    <a href="">
                                        <img src="images/logo-2.png" alt="">
                                    </a>
                                </figure>
                            </div>
                            <p>Medios de contacto</p>
                            <ul class="location-link">
                                <li class="item">
                                    <i class="fa fa-map-marker"></i>
                                    <p>Mar Mediterráneo 227, Popotla, 11400 Ciudad de México, CDMX</p>
                                </li>
                                <li class="item">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="#">
                                        <p>contacto@usedoc.ml</p>
                                    </a>
                                </li>
                                <li class="item">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <p>(+52) +123 4567</p>
                                </li>
                            </ul>
                            <ul class="list-inline social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h6>Secciones</h6>
                        <ul class="menu-link">
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Medicos</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Pacientes</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Tratamientos</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Diagnosticos</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Precios</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container clearfix">
                <div class="copyright-text">
                    <p>&copy; Copyright 2019. Todos los derechos reservados por
                        <a href="team">SpicySystems</a>
                    </p>
                </div>
                <ul class="footer-bottom-link">
                    <li>
                        <a href="">Inicio</a>
                    </li>
                    <li>
                        <a href="#About">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>