<!DOCTYPE html>
<html lang="en">
<head>
<title>Pacientes - UseDoc</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/export.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/circles.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">

</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div class="w3_agileits_top_nav">
        <ul id="gn-menu" class="gn-menu-main">
                 <!-- /nav_agile_w3l -->
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller scrollbar1">
                        <ul class="gn-menu agile_menu_drop">
                            <li><a href="Home"> <i class="fa fa-home"></i> Inicio</a></li>
                            <li>
                                <a href="pacientes"><i class="fa fa-stethoscope" aria-hidden="true"></i> Pacientes <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="Tratameintos"><i class="fa fa-caret-right" aria-hidden="true"></i> Tratamientos</a></li>
                                    <li class="mini_list_w3"><a href="Diagnosticos"> <i class="fa fa-caret-right" aria-hidden="true"></i> Diagnosticos</a></li>
                                    <li class="mini_list_w3"><a href="citas"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a></li>
                                </ul>
                            </li>
                            <li><a href="Gastos"> <i class="fa fa-money" aria-hidden="true"></i> Gastos</a></li>
                            <li><a href="chat"><i class="fa fa-envelope " aria-hidden="true"></i>Mensajes</a>
                            </li>
                            <li>
                                <a ><i class="fa fa-table" aria-hidden="true"></i> Agenda <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="Calendario"><i class="fa fa-caret-right" aria-hidden="true"></i> Calendario</a></li>
                                    <li class="mini_list_w3"><a href="citas"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </li>
            <!-- //nav_agile_w3l -->
            <li class="second logo"><h1><a href="index"><i class="fa fa-graduation-cap" aria-hidden="true"></i>USEDOC </a></h1></li>
                <li class="second admin-pic">
                   <ul class="top_dp_agile">
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            <span class="prfil-img"><img src="images/admin.png" style="width: 45px;" alt=""> </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Configuracion</a> </li>
                                        <li> <a href="#"><i class="fa fa-user"></i> Perfil</a> </li>
                                        <li> <a href="#"><i class="fa fa-sign-out"></i> Cerrar sesion</a> </li>
                                    </ul>
                                </li>

                    </ul>
            </li>


            <li class="second w3l_search">

                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Busca pacientes" required="">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>

            </li>

        </ul>
        <!-- //nav -->

    </div>
    <div class="clearfix"></div>
    <div class="inner_content">
        <div class="inner_content_w3_agile_info">
            <h2 class="w3_inner_tittle two" style="margin-bottom: 30px;">Gestion de pacientes</h2>
               <div class="w3l-table-info agile_info_shadow">
                   <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                              <h3 class="w3_inner_tittle two">Pacientes atendidos</h3>

                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="filtro">Filtrar paciente</label>
                                    <select name="filtro" id="filtro" class="form-control" style="height: auto">
                                        <option value="">En tratamiento</option>
                                        <option value="">Mas recientes</option>
                                        <option value="">Mas antiguos</option>
                                        <option value="">Citas mas proximas</option>
                                    </select>
                                </div>
                            </div>
                       </div>
                       <div class="row">
                           <%
                            if(pacientes.length>0){
                                for(var i = 0; i<pacientes.length; i++){
                                    if(pacientes[i].sta_pac==1){
                                        %>
                                        <div class="col-md-3 socail_grid_agile twitter">
                                            <ul class="icon_w3_info">
                                          <li><a href="#" class="wthree_facebook"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                          <li>Nuevo paciente</li>
                                        </ul>
                                         <ul class="icon_w3_social">
                                           <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                           <li><i class="fa fa-user" aria-hidden="true"></i></li>
                                         </ul>
                                        <div class="clearfix"></div>
                                         <div class="bottom_info_social">
                                        <div class="col-md-4 agile_w3l_social_media_text_img">
                                           <img src="images/admin.png" style="width: 100%" alt="">
                                        </div>
                                         <div class="col-md-8 agile_w3l_social_media_text">
                                           <h4><%=pacientes[i].nom_pac%></h4>

																					 <%
																					 let c = 0;
																							if(citas.length>0){
																								for(var j =0;j<citas.length;j++){
																									if(citas[i].id_tip==2){
																										%>
																											<p>Proxima cita:<%=citas[i].dat_cit%></p>
																										<%
																										c++;
																									}else if(citas[i].id_tip==1){
																										%>
																											<p>Cita anterior<%=citas[i].dat_cit%></p>
																										<%
																										c++;
																									}
																									if(c==2){
																										break;
																									}
																								}
																							}else{
																								%>
																							<p>Aún no hay citas programadas</p>
																								<%
																							}
																					 %>
                                           <p><a href="paciente?p=<%=pacientes[i].id_pac%>" class="btn btn-primary">Ver paciente</a></p>
                                        </div>

                                        <div class="clearfix"></div>
                                        </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <%
                                    }else if(pacientes[i].sta_pac==2){
                                        %>
                                        <div class="col-md-3 socail_grid_agile sintra">
                                            <ul class="icon_w3_info">
                                          <li><a href="#" class="wthree_facebook"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                          <li>Fuera de tratamiento</li>
                                        </ul>
                                         <ul class="icon_w3_social">
                                           <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                           <li><i class="fa fa-user" aria-hidden="true"></i></li>
                                         </ul>
                                        <div class="clearfix"></div>
                                         <div class="bottom_info_social">
                                        <div class="col-md-4 agile_w3l_social_media_text_img">
                                           <img src="images/admin.png" style="width: 100%" alt="">
                                        </div>
                                         <div class="col-md-8 agile_w3l_social_media_text">
                                           <h4>Jasmin Joe</h4>
                                           <p>Ultima cita:</p>
                                           <p>Proxima cita:</p>
                                           <p><a href="paciente" class="btn btn-primary">Ver paciente</a></p>
                                        </div>

                                        <div class="clearfix"></div>
                                        </div>
                                 </div>
                                 <div class="col-md-1"></div>
                                        <%
                                    }else if(pacientes[i].sta_pac==3){
                                        %>
                                        <div class="col-md-3 socail_grid_agile tra">
                                            <ul class="icon_w3_info">
                                          <li><a href="#" class="wthree_facebook"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                          <li>En tratamiento</li>
                                        </ul>
                                         <ul class="icon_w3_social">
                                           <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                           <li><i class="fa fa-user" aria-hidden="true"></i></li>
                                         </ul>
                                        <div class="clearfix"></div>
                                         <div class="bottom_info_social">
                                        <div class="col-md-4 agile_w3l_social_media_text_img">
                                           <img src="images/admin.png" style="width: 100%" alt="">
                                        </div>
                                         <div class="col-md-8 agile_w3l_social_media_text">
                                           <h4>Jasmin Joe</h4>
                                           <p>Ultima cita:</p>
                                           <p>Proxima cita:</p>
                                           <p><a href="paciente" class="btn btn-primary">Ver paciente</a></p>
                                        </div>

                                        <div class="clearfix"></div>
                                        </div>
                                    </div>
                                        <%
                                    }
                                }
                            }
                           %>




                       </div>
                   </div>

                     <div class="clearfix"></div>

                </div>
                <div class="agile-tables">
                    <div class="w3l-table-info agile_info_shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                <h3 style="margin-bottom: 30px">Historial de pacientes</h3>
                                <canvas id="bartra"></canvas>
                               <script>
                                new Chart(document.getElementById("bartra"),
                                          {
                                    "type":"line",
                                    "data":{
                                        "labels":[
                                            "mm/yy","mm/yy 2","mm/yy 3","mm/yy 4","mm/yy 5"
                                        ],
                                        "datasets":[
                                            {"label":"Pacientes tratados",
                                             "data":[65,59,80,81,56,55,40],
                                             "fill":false,
                                             "backgroundColor":[
                                                 "#61BFD4",
                                                 "#5984BA",
                                                 "#7EDBED",
                                                 "#87CCA7",
                                                 "#FF5E61",
                                                 ],

                                             "borderWidth":2,
                                             "borderColor":"#61BFD4"
                                            }]
                                    },
                                    "options":{
                                        "scales":{
                                            "xAxes":[
                                                {"ticks":
                                                 {"beginAtZero":true}
                                                }]
                                        }
                                    }
                                });
                                </script>
                                <div class="form-group">
                                   <select name="" id="" class="form-control" style="height: auto">
                                        <option value="">Ver por semana</option>
                                        <option value="">Ver por mes</option>
                                        <option value="">Ver por año</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <form action="">
                                        <h3 class="w3_inner_tittle two">Estadisticas de pacientes </h3>
                                        <div class="form-group">
                                            <label for="">Numero pacientes</label>
                                            <input type="text" value="Numero" disabled readonly class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Pacientes en tratamiento</label>
                                            <input type="text" value="Numero" disabled readonly class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Promedio de citas por paciente</label>
                                            <input type="text" value="Numero" disabled readonly class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Ingreso promedio por paciente</label>
                                            <input type="text" value="Numero" disabled readonly class="form-control">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>
<!-- banner -->
<!--copy rights start here-->
<div class="copyrights">
    <div class="container clearfix">
        <div class="copyright-text">
            <p>&copy; Copyright 2019. Todos los derechos reservados por
              <a href="team">SpicySystems</a>
            </p>
        </div>
        <ul class="footer-bottom-link">
            <li>
              <a href="index">Inicio</a>
            </li>
            <li>
              <a href="index#About">Sobre nosotros</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
        </ul>
    </div>
</div>
<!--copy rights end here-->
<!-- js -->

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

<script src="js/amcharts.js"></script>
<script src="js/serial.js"></script>
<script src="js/export.js"></script>
<script src="js/light.js"></script>
<script src="js/chart1.js"></script>
    <script src="js/Chart.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<!-- script-for-menu -->

<script src="js/bars.js"></script>
<script src="js/scripts.js"></script>

<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>
