<!DOCTYPE html>
<html lang="en">
<head>
    <title>UseDoc - Registro</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <!-- //custom-theme -->
    <link rel="icon" type="image/png" href="images/icon.png" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
</head>

<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
		  <!-- /w3_agileits_top_nav-->
		  <!-- /nav-->
      <div class="w3_agileits_top_nav">
        <ul id="gn-menu" class="gn-menu-main">

            <!-- //nav_agile_w3l -->
            <li class="second logo admin"><h1><a href="main-page"><i class="fa fa-graduation-cap" aria-hidden="true"></i>USEDOC </a></h1></li>

        </ul>
        <!-- //nav -->

    </div>
    <div class="clearfix"></div>
    <!-- //w3_agileits_top_nav-->

    <!-- /inner_content-->
    <div class="inner_content" style="background-image: url('images/a1.jpg');">
        <!-- /inner_content_w3_agile_info-->
        <div class="inner_content_w3_agile_info">
            <div class="registration admin_agile" >
               <div class="signin-form profile admin" style="width: 80vw">
                    <h2>Registrar cuenta</h2>
                    <div class="login-form">
                        <form action="Registro" id="reg-form" method="post">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <strong>Datos de cuenta</strong>
                                    <hr>
                                    <input type="text" name="email" placeholder="Correo Electronico" required="">
                                    <input type="password" name="pass" placeholder="Contraseña" required="">
                                    <input type="password" name="pass1" placeholder="Repetir Contraseña" required="">
                                    <hr>
                                    <strong>Datos personales</strong>
                                    <hr>
                                    <input type="text" name="name" placeholder="Nombre" required="">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" name="appat" placeholder="Apellido paterno">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="apmat" placeholder="Apellido materno">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                            <select name="tip" id="tipo" class="form-control" style="height:auto;">
                                                <option value="1">Medico</option>
                                                <option value="2">Paciente</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="ced" id="cedula"  placeholder="Cedula profesional">
                                        </div>
                                         <div class="tp">
                                             <input type="submit" value="Registrarse">
                                         </div>
                                </div>
                                <div class="col-md-3">
                                   
                                   
                                </div>
                            </div>



                        </form>
                    </div>

                   <h6><a class="btn btn-default" href="index">Volver al inicio</a></h6>
                     <h6><a href="login" class="btn btn-default">Ya tengo cuenta</a></h6>
                </div>
            </div>
        <!-- //inner_content_w3_agile_info-->
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="copyrights">
         <p>© 2019 Use Doc. Derechos reservados | <a href="" target="_blank">SpicySystems</a> </p>
    </div>
		<!-- //inner_content-->
</div>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/modernizr.custom.js"></script>

    <script src="js/classie.js"></script>
    <script src="js/gnmenu.js"></script>
    <!-- //js -->
    <script src="js/screenfull.js"></script>
    <script>
        $( document ).ready(function (e){
            if($('#tipo').val==2){
                document.getElementById('cedula').style.display = 'none';
            }
        });
        $('#tipo').change(function(e){
            if($(this).val()==1){
                document.getElementById('cedula').style.display = 'block';
            }else{
                document.getElementById('cedula').style.display = 'none';
            }
        });
    </script>
    <script src="js/scripts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <%if(typeof mensaje !== "undefined"){
        %>
        <script>
            toastr.info("<%=mensaje%>","Info");
        </script>
        <%
    }%>

    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>
